// $body-bg: #000;
$primary: #1da042;
$green: #99cc00;
$background: #292c33;
// $black : #242424;
// $white : #fafafa;

// $black:        hsl(0, 0%, 4%) !default
// $black-bis:    hsl(0, 0%, 7%) !default
// $black-ter:    hsl(0, 0%, 14%) !default

// $grey-darker:  hsl(0, 0%, 21%) !default
// $grey-dark:    hsl(0, 0%, 29%) !default
// $grey:         hsl(0, 0%, 48%) !default
// $grey-light:   hsl(0, 0%, 71%) !default
// $grey-lighter: hsl(0, 0%, 86%) !default

// $white-ter:    hsl(0, 0%, 96%) !default
// $white-bis:    hsl(0, 0%, 98%) !default
// $white:        hsl(0, 0%, 100%) !default

// $orange:       hsl(14,  100%, 53%) !default
// $yellow:       hsl(48,  100%, 67%) !default
// $green:        hsl(141, 71%,  48%) !default
// $turquoise:    hsl(171, 100%, 41%) !default
// $cyan:         hsl(204, 86%,  53%) !default
// $blue:         hsl(217, 71%,  53%) !default
// $purple:       hsl(271, 100%, 71%) !default
// $red:          hsl(348, 100%, 61%) !default

// $link-hover: red;

$navbar-background-color: $background;
$navbar-item-img-max-height: 40px;
$navbar-item-hover-background-color: transparent;
// $navbar-item-color: $white;
// $navbar-item-hover-color: $white;
// $navbar-item-active-color: $white;
$navbar-background-color: transparent;

//Button
$button-color: #FFF;

//footer
$footer-background-color: $background;


$link: $primary;
// $link-invert: $blue-invert !default
// $link-visited: $purple !default

$link-hover: $primary;
// $link-hover-border: $grey-light !default

// $link-focus: $grey-darker !default
// $link-focus-border: $blue !default

// $link-active: $grey-darker !default
// $link-active-border: $grey-dark !default

$fullhd-enabled: false;
