//$material-icons-font-path: '~material-icons/iconfont/';
//@import '~material-icons/iconfont/material-icons.scss';

@import '_variables';
@import '~bulma/bulma';
@import '~jquery-ui/themes/base/all.css';

@mixin opacity($value){
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
}

html {
  background-color: $background;
}
body{
  background-color: $white;
  font-size: 14px;
  @include from($tablet) {
    min-height: 100vh;
    padding-bottom: 230px;
    position: relative;
  }
}

.login{
  display: flex;
  align-items: center;
  height: 100vh;
  .card{
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 2rem 5rem;
    min-height: 420px;
    figure{
      img{
        margin: auto;
        max-height: 50px;

      }
    }
    p{
      &:last-of-type{
        margin-bottom: 0;
      }
    }
    a{
      &:not(.button){
        color: $primary;
      }
    }
  }
}
// Header
header{
  background-color: $background;
  .navbar{
    #navbarBottom{
      .navbar-start{
        .navbar-item{
          flex-direction: column;
          align-items: flex-start;
          p{
            margin-bottom: 0;
            line-height: 1;
          }
        }
      }
    }
    &-brand{
      width: 25%;
    }
    &-menu{
      align-items: center;
    }
    &-item{
      color: $white;
      position: relative;
      &.account{
        display: block;
      }
      img{
        width: auto;
      }
      strong{
        color: inherit;
      }
      .tag {
        position: absolute;
        top: 20%;
        width: 16px;
        height: 16px;
        line-height: 16px;
        font-size: .6rem;
        padding: 0;
        border-radius: 100%;
        right: 0;
      }

    }
  }
}
$cycle: '.cycle';
#{$cycle}{
  &-slideshow,
  &-slide{
    position: relative;
    width: 100%;
  }
  &.hero-slideshow {
    #{$cycle}-slideshow{
      #{$cycle}-slide{
        align-items: center;
        display: flex !important;
        height: 36vw;
        .columns{
          margin-bottom: 0;
          margin-top: 0;
        }
      }
    }
  }
  &-pager{
    align-items: center;
    background: rgba(0,0,0,0.5);
    border-radius: 30px;
    bottom: 1rem;
    display: flex;
    height: 30px;
    justify-content: center;
    left: 50%;
    padding: 0 8px;
    position: absolute;
    transform: translate(-50%, 0);
    width: auto;
    z-index: 999;
    span {
      position: relative;
      // border-radius: 8px;
      // border: 4px solid white;
      // box-sizing: border-box;
      color: transparent;
      cursor: pointer;
      display: block;
      height: 24px;
      // margin-left: 4px;
      // margin-right: 4px;
      // transition: all 0.1s ease-in;
      width: 24px;
      &:before,
      &:after {
        display: block;
        content: '';
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        transition: all 0.4s ease;
      }
      &:after{
        background-color: $white;
        border-radius: 8px;
        height: 8px;
        width: 8px;
      }
      &:before{
        opacity: 0;
        border: 4px solid $green;
        border-radius: 24px;
        height: 20px;
        width: 20px;
      }
      &.cycle-pager-active {
        // border-color: $green;
        // height: 16px;
        // width: 16px;
        &:after{
          opacity: 0;
        }
        &:before{
          opacity: 1;
          border: 4px solid $green;
          border-radius: 16px;
          height: 16px;
          width: 16px;
        }
      }
    }
  }
}
// STUFF FOR GALLERY SINGLE PRODUCT
.cycle-slideshow {
  img {
    width: 100%;
    max-width: unset;
  }
}

.product-image {
  display: flex;
  flex-direction: row-reverse;
}

.hero-container{
  padding-top:30px;
  width: 100%;
  height: 720px;
  vertical-align: bottom;
}

.slide-info{
  // flex-direction: row-reverse;
  position: absolute;
  margin-top: 400px;
}

#product-thumbnails {
  width: 100%;
  max-width: unset;
}

table{
  width: 100%;
  &.units {
    border: 2px solid #eee;
    tr{
      th {
        background-color: #eee;
      }
      th, td {
        padding: .75rem;
        text-align: center;
      }
    }
  }

  //factura
  &.header{
    table-layout: fixed;
    tr{
      th, td{
        img {
          display: block;
          max-height: 60px;
        }
      }
    }
  }
  &.outer{
    border: 1px solid black;
    margin-bottom: 1rem;
    tr{
      td{
        &.has-promo{
          background-color: $black;
          color: $green;
          font-weight: bold;
          text-align: center;
          font-size: 110%;
        }
      }
    }
  }
  &.inner{
    tr{
      &:nth-child(odd){
        td, th{
          background: #f0f0f0;
        }
      }
      td, th{
        border: 1px solid black;
        padding: .25rem .5rem;
      }
      th{
        border-bottom: 2px solid #000;
      }
      td{
        &.has-image{
          background-color: $white !important;
        }
      }
    }
    & + & {
      margin-bottom: 1rem;
    }
  }
}

.card {

  padding: 2rem;
}
.vertical-menu {
  // align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  li{
    display: block;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    a{
      display: block;
      background: white;
      line-height: 32px;
      white-space: nowrap;
    }
    ul {
      align-items: normal;
      overflow: hidden;
      box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
      border-radius: 6px;
      opacity: 0;
      top: 0;
      position: absolute;
      left: 100%;
      li{
        display: block;
        a{
          padding-left: .75rem;
          padding-right: .75rem;
          &:hover{
            background-color: green;
            color: white;
          }
        }
      }
    }
    &:hover{
      ul{
        opacity: 1;
        z-index: 1;
      }
    }
  }
}
// Footer
.footer{
  color: $white;
  margin-bottom: 0 !important;
  padding: 3rem 0;
  text-align: center;
  @include from($tablet) {
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    width: 100%;
  }
  strong{
    color: inherit;
  }
  figure{
    img{
      display: block;
      filter: grayscale(1) brightness(10);
      margin: auto;
      max-height: 50px;
    }
  }
}

.tile{
  position: relative;
  &.is-ancestor{
    height: 24vw
  }
  &.is-parent{
    .has-background {
      filter: grayscale(1) contrast(100%) brightness(100%);
      background-size: cover;
      position: absolute;
      top: .75rem;
      right: .75rem;
      bottom: .75rem;
      left: .75rem;
    }
  }
  &.is-child{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    text-align: center;
    line-height: 1.2;
    div {
      background-size: cover;
      bottom: 0;
      height: 100%;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
    span {
      color: #d3d3d3;
      position: relative;
      font-size: 1.2em;
    }
  }
  $colors: (
    "red": #d50000,
    "yellow": #ffd600,
    "orange": #ff6d00,
    "greenc": #99cc00,
    "greeno": #1da042,
    "blue": #00b0ff
  );
  @each $name, $color in $colors {
    .has-#{$name}-background {
      background-color: $color;
    }
  }
  @each $name, $color in $colors {
    .has-#{$name}-overlay {
      background-position: 50%;
      background-size: cover;
      height: 100%;
      position: absolute;
      width: 100%;
      &:before{
        background-color: $color;
        content: '';
        display: block;
        height: 100%;
        left: 0;
        mix-blend-mode: multiply;
        opacity: 0.75;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }
  }
  .is-horizontal-title{
    max-height: 48px;
    h4{
      position: absolute;
      color: #FFF;
      top: 50%;
      left: 50%;
      transform: rotate(-90deg) translate(-50%,-50%) ;
      transform-origin: top left;
    }
  }
  .is-vertical-title{
    max-width: 48px;
    h4{
      position: absolute;
      color: #FFF;
      top: 50%;
      left: 50%;
      transform: rotate(-90deg) translate(-50%,-50%) ;
      transform-origin: top left;
    }
  }
}

.control {
  &.color-selector{
    display: flex;
    .label{
      flex: none;
    }
    .radio{
      border-radius: 100%;
      display: block;
      height: 24px;
      text-align: center;
      width: 24px;
      &.light-color{
        box-sizing: border-box;
        box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
      }
      i{
        color: transparent;
        font-size: 16px;
        line-height: 24px;
      }
      input{
        position: absolute;
        visibility: hidden;
      }
      &.is-checked{
        i{
          color: #dddddd;
        }
      }
    }
    &.is-small{
      .radio{
        height: 12px;
        width: 12px;
      }
      .radio+.radio{
        margin-left: 6px;
      }
    }
  }
}

.has-product {
  .image{
    position: relative;
    padding-bottom: 100%;
    img{
      position: absolute;
      width: auto;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .control{
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 0.5rem;
    color: $dark;
    small {
      display: block;
      font-size: 75%;
      line-height: 1;
    }
  }
}
// panel heading for backoffice
.panel-heading{
  background-color: $background;
  border-radius: 6px 6px 0 0;
  color: #363636;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.25;
  padding: 0.75em 1em;
}

// panel block for backoffice
.panel-block-pagination{
  border-radius: 6px 6px 0 0;
  // color: #363636;
  font-size: 1.25em;
  font-weight: 700;
  line-height: 1.25;
  padding: 0.75em 1em;
}

// stuff for ui
#search {
  position: relative;
  z-index: 10000;
}

/* Autocomplete */

.ui-autocomplete{
  position: absolute;
  cursor: default;
  z-index: 9999 !important;
  max-height: 400px;
  overflow-y: scroll;
}

/* Menu */

.ui-menu{
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  .ui-menu{
    margin-top: -3px;
  }
  .ui-menu-item .ui-menu-item-wrapper.ui-state-active {
    background: $primary !important;
    font-weight: bold !important;
    color: #ffffff !important;
    border: 0px;
  }
  .ui-menu-item{
    margin: 0;
    padding: 0;
    width: 100%;
    a{
      text-decoration: none;
      display: block;
      padding: .2em .4em;
      line-height: 1.5;
      zoom: 1;
      &.ui-state-hover, &.ui-state-active{
        color: #ffffff;
        text-decoration: none;
        background-color: $primary;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
      }
    }

  }
}

/* disable button*/
.is-disabled {
  pointer-events: none; /* Disables the button completely. Better than just cursor: default; */
  @include opacity(0.7);
}
