@import '_variables';
@import '~bulma/bulma';


html {
  background-color: $background;
}

body{
  background-color: $white;
  font-size: 14px;
  @include from($tablet) {
    min-height: 100vh;
    padding-bottom: 230px;
    position: relative;
  }
}

table{
  width: 100%;
  &.units {
    border: 2px solid #eee;
    tr{
      th {
        background-color: #eee;
      }
      th, td {
        padding: .75rem;
        text-align: center;
      }
    }
  }

  //factura
  &.header{
    table-layout: fixed;
    tr{
      th, td{
        img {
          display: block;
          max-height: 60px;
        }
      }
    }
  }
  &.outer{
    border: 1px solid black;
    margin-bottom: 1rem;
    tr{
      td{
        &.has-promo{
          background-color: $black;
          color: $green;
          font-weight: bold;
          text-align: center;
          font-size: 110%;
        }
      }
    }
  }
  &.inner{
    tr{
      &:nth-child(odd){
        td, th{
          background: #f0f0f0;
        }
      }
      td, th{
        border: 1px solid black;
        padding: .25rem .5rem;
      }
      th{
        border-bottom: 2px solid #000;
      }
      td{
        &.has-image{
          background-color: $white !important;
        }
      }
    }
    & + & {
      margin-bottom: 1rem;
    }
  }
}
